modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "5000"]

[workflows]
runButton = "Sync and run"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host 0.0.0.0 --port 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow]]
name = "Sync and run"
mode = "sequential"
author = 28149269

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv sync"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv run uvicorn main:app --host 0.0.0.0 --port 5000"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000
